parameters:
    paths:
        - src/
        - tests/
    level: 6
    ignoreErrors:
      - identifier: missingType.iterableValue
      - identifier: missingType.generics
      - identifier: method.notFound
      - identifier: staticMethod.notFound
      - identifier: argument.templateType
      - identifier: argument.unresolvableType
      - identifier: method.unresolvableReturnType
      - identifier: staticProperty.notFound
      - identifier: property.notFound
      - identifier: nullsafe.neverNull
      - identifier: return.type
      - identifier: function.alreadyNarrowedType
      - identifier: booleanAnd.rightAlwaysTrue
      - identifier: method.protected
